# env.example

# Project Info
PROJECT_NAME=""
DOMAIN_NAME=""

# AWS Info
AWS_REGION=""
VPC_ID=""
SUBNETS=""
SECURITY_GROUPS=""
ALB_ARN=""
ECS_CLUSTER=""
IMAGE_TAG=""

# Local image
NEW_IMG=""

# Sensitive Info
ACCESS_KEY=""
SECRET_TOKEN=""
CLOUDFLARE_API_TOKEN=""

# Additional Variables for config.py
TASK_ROLE_ARN=""
EXECUTION_ROLE_ARN=""
CLOUDFLARE_ZONE_ID=""
ALB_DNS_NAME=""
